<h1>
 Lista De Facturas
</h1>

<div class="table-responsive">
  <p-table [columns]="cols" [value]="busquedax" [paginator]="true" [rows]="5" >
    <ng-template pTemplate="header" let-columns>
      <tr >
        <th *ngFor="let col of columns" style="color: #fff; background-color: #337ab7; border-color: #337ab7;">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-busqueda>
      <tr >
        <td valign="top">{{busqueda.nombreCajero}}</td>
        <td valign="top"> {{busqueda.fecha}}</td>
        <td valign="top">$ {{busqueda.total}}</td>
        <td valign="top"> {{busqueda.estado}}</td>
        <td width="200" valign="top" >
          <div>

            <button class="btn btn-info"  [routerLink]="
                  ['/gestionfacturas',busqueda.id]"> Ver
            </button></div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
