<form #formularioUsuario="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioUsuario)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
        *ngIf="inputNombre.errors.required"
        severity="warn"
        text="Error: El nombre es requerido"></p-message>

    </p>

    <p *ngIf="inputPassword.errors">

      <p-message
        *ngIf="inputPassword.errors.required"
        severity="warn"
        text="Error: El password es requerido"></p-message>

    </p>
    <p *ngIf="inputCorreo.errors">

      <p-message
        *ngIf="inputCorreo.errors.required"
        severity="warn"
        text="Error: El correo es requerido"></p-message>
      <p-message
        *ngIf="inputCorreo.errors.email"
        severity="warn"
        text="Error: Ingrese un correo valido"></p-message>

    </p>




    <label [hidden]="true"
           for="nombreU">Nombre</label>

    <div class="ui-inputgroup">
      <input id="nombreU"

             pInputText
             placeholder="NombreU"


             required
             type="text"
             name="nombreU"
             pattern="^[a-zA-Z ]*$"
             [(ngModel)]="nombreU"
             #inputNombre="ngModel"
      >
    </div>

  </div>

  <div>
    <label for="correoU">Correo</label>
    <input id="correoU"
           name="correoU"
           type="email"
           required
           [(ngModel)]="correoU"
           #inputCorreo="ngModel"
           email

    >
  </div>
  <div>
    <label for="passwordU">Password</label>
    <input id="passwordU"
           name="passwordU"
           type="password"
           required
           pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$"
           [(ngModel)]="passwordU"
           #inputPassword="ngModel"
    >
  </div>
  <div>

    <div class="input-group-prepend">
      <label class="input-group-text" for="BrowRoles">Tipo de Convenio</label>
    </div>

    <input class="custom-select" list="browrol" id="BrowRoles" name="BrowRoles" ngModel />
    <datalist id="browrol" >
      <option *ngFor="let cbxrol of cbxrols" value=  {{cbxrol.nombre}}>
    </datalist></div>

  <button [disabled]="formularioUsuario.invalid">
    Enviar Datos
  </button>
</form>
